page-message {
    .answerbox{
        border-bottom: thin solid #ccc;
        margin: 0 0;
        padding: 15px 0;
    }
    .gm-subject{
        margin: 0px 0px;
        font-family: Verdana, sans-serif;
        font-size: 15px;
        font-weight: 700;
        line-height: 22.5px;
        padding-left: 5px;
        padding-bottom: 5px;
    }
   
    .gm-blue-background{
        background-color: #387ef5; 
        color: white;
        border: 0px !important;
        border-bottom-color: transparent !important;
        background-image: none !important;
        border-bottom: none !important;
    }

    ion-select{
        border: 0px !important;
        border-bottom-color: transparent !important;
        background-image: none !important;
        border-bottom: none !important;
    }
    ion-option{
        border: 0px !important;
        border-bottom-color: transparent !important;
        background-image: none !important;
        border-bottom: none !important;
    }
}
