<!--
  Generated template for the UserInfo page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color=primary>
    <ion-title>My Profile</ion-title>
    <ion-buttons end>
      <button ion-button icon-left (click)="logout()" *ngIf="isLoggedInUser">
        <ion-icon name="exit"></ion-icon>
        Logout
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <div *ngIf="retrievedUser">
    <ion-row>
      <ion-col>
        <div class="gm-circle align-center" *ngIf="retrievedUser.userName" id="circleLetter-div">{{ extractFirstLetter(retrievedUser.userName) | uppercase }}</div>  
      </ion-col> <!-- round image -->
    </ion-row>
    <ion-row> 
      <ion-col><div class="align-center gm-dim" style="margin-bottom:20px">{{retrievedUser.userName | uppercase}}</div></ion-col> <!-- username -->
    </ion-row>


    <ion-row>
      
      <ion-col class="align-center" style="border-right: thin solid #ccc;">
          <div (click)="showAskedQuestions()">
            <p class="gm-strong gm-dim">{{ questionCount }}</p>
            <p class="gm-small-caps gm-dim" style="font-weight:700">QUESTIONS</p>
          </div>
      </ion-col>

      <ion-col class="align-center">
          <div (click)="showRepliedAnswers()">
            <p class="gm-strong gm-dim">{{ answerCount }}</p>
            <p class="gm-small-caps gm-dim" style="font-weight: 700">ANSWERS</p>
          </div>
      </ion-col>

    <!--  <ion-col class="align-center" style="border-left: thin solid #ccc;">
        <p class="gm-strong gm-dim">11</p>
        <p class="gm-small-caps gm-dim">LIKES</p>
      </ion-col>
      -->
    </ion-row>
  </div>
  <div id="form-div" *ngIf="isLoggedInUser && retrievedUser">
    <ion-list inset>

      <ion-item>
        <ion-label>Full Name</ion-label>
        <ion-input type="text" [(ngModel)]="retrievedUser.fullName" name="fullName" placeholder="retrievedUser.fullName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input type="password" [(ngModel)]="retrievedUser.password" name="password" placeholder="retrievedUser.password"></ion-input>
      </ion-item>
    </ion-list>
    <div padding style="margin-top:-15px;">
      <button ion-button block>Update</button>
    </div>
  </div>
  


</ion-content>
