page-user-info {
    .gm-circle{
        width:40px;
        height:40px;
        border-radius:20px;
        font-size:32px;
        color:#fff;
        line-height:40px;
        text-align:center;
        background:#39CCCC;
        margin-top:-2px;
        margin-left: 5px;
    }
    .aligner {
        display: flex;
        align-items: center;
        min-height: 24em;
        justify-content: center;
        
    }
    .align-center{
        margin: 0 auto;
        text-align:center;
    }
    .gm-dim{
        color: #888;
    }
    #circleLetter-div{
        margin-top:30px;
        margin-bottom:10px;
    }
    ion-row{
        p{
            margin: 4px 0px;
            padding: 0px 0px;
        }
    }
    .gm-strong{
        font-weight: 900;
    }
    .gm-small-caps{
        text-transform: uppercase;
        font-size: 11px;
        font-weight:100;
    }
    #form-div{
        margin-top:35px;
    }
}
