
<ion-header>

  <ion-navbar color=primary>
    <ion-title>My Profile</ion-title>
    <ion-buttons end>
      <button ion-button icon-left (click)="logout()" *ngIf="isLoggedInUser">
        <ion-icon name="exit"></ion-icon>
        Logout
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
 
  <div *ngIf="retrievedUser">
    <div *ngIf="!isLoggedInUser">
      <ion-row>
        <ion-col>
          <div class="gm-circle align-center" *ngIf="retrievedUser.userName" id="circleLetter-div">{{ extractFirstLetter(retrievedUser.userName) | uppercase }}</div>  
        </ion-col> <!-- round image -->
      </ion-row>
      <ion-row> 
        <ion-col><div class="align-center gm-dim" style="margin-bottom:5px">{{retrievedUser.userName | uppercase}}</div></ion-col> <!-- username -->
      </ion-row>
    </div>

    <div id="form-div" *ngIf="isLoggedInUser && retrievedUser">
    <ion-list inset>
      <ion-item>
        <ion-label>User Name</ion-label>
        <ion-input disabled type="text" placeholder="{{retrievedUser.userName}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Full Name</ion-label>
        <ion-input type="text" [(ngModel)]="retrievedUser.fullName" name="fullName" placeholder="Full Name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input type="password" [(ngModel)]="retrievedUser.password" name="password" placeholder="Password"></ion-input>
      </ion-item>
    </ion-list>
    <div padding style="margin-top:-15px;">
      <button ion-button block (click)="updateUserPassword()">Update</button>
    </div>
  </div>

  <div *ngIf="!isLoggedInUser" padding>
      <button ion-button block (click)="goToComposeMessagePage(retrievedUser)">Send Private Message</button>
  </div>

    <ion-list>
      <ion-item class="gm-dim"  (click)="showAskedQuestions()" style="width:90%">
        <ion-icon name="paper" item-left></ion-icon>
          {{ questionCount }} Questions        
      </ion-item>
      <ion-item class="gm-dim" (click)="showRepliedAnswers()" style="width:90%">
        <ion-icon name="chatbubbles" item-left></ion-icon>
          {{ answerCount }} Answers         
      </ion-item>
      <ion-item class="gm-dim" (click)="goToLikedQuestionsPage(retrievedUser.id)" style="width:90%">
        <ion-icon name="heart" item-left></ion-icon>
          {{ (retrievedUser.likedIds) ? retrievedUser.likedIds.length: 0 }} LIKES        
      </ion-item>
      <ion-item class="gm-dim" (click)="goToBookmarksPage()" style="width:90%">
        <ion-icon name="bookmarks" item-left></ion-icon>
          {{ (retrievedUser.bookmarkedIDs)? retrievedUser.bookmarkedIDs.length: 0 }} BOOKMARKED        
      </ion-item>
      <div *ngIf="isLoggedInUser">
        <ion-item class="gm-dim" (click)="showMessages()" style="width:90%">
          <ion-icon name="mail" item-left></ion-icon>
            {{ (retrievedUser.messages) ? retrievedUser.messages.length: 0 }} MESSAGES        
        </ion-item>
      </div>
    </ion-list>   
  </div>

</ion-content>
