page-registration {
    ion-row{
        margin-top: 15px;
        align-items: center;
        justify-content: center;
    }

    .logo-text{
        font-family: 'Rockwell'; 
        color:#3c948b; 
        margin-top: 120px; 
        font-size: 36px; 
        font-weight: 700; 
        text-align: center;
    }
}
