<ion-header>

  <ion-navbar color="primary">
    <ion-title>Notifications</ion-title>

    <ion-buttons end>
        <button ion-button (click)="goToMessagesPage()">
          <ion-icon name="mail" class=larger></ion-icon>
          <ion-badge *ngIf="showBadge" style="position:absolute; top:20px; left:-7px" color="danger">NEW</ion-badge>
        </button>
    </ion-buttons>
  </ion-navbar>

  
</ion-header>


<ion-content no-padding>

  <div *ngIf="notifications">
    <div class="answerbox" *ngFor="let noti of notifications">
      <ion-row>
        <ion-col>
          <span *ngIf="noti.notificationType == 'answer' && noti.fromUserId != myUserId && noti.question != null">
            <p class="gm-main-content" (click)="goToAnswersPage(noti.question)">
              <span style="font-weight: 700">{{noti.fromUserName}}</span> replied to the question <span style="font-weight: 700">{{noti.question.mainQuestion}}</span>.
            </p>
          </span>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
            <span class="gm-dim" style="font-size: 12px; margin-left: 5px;"><time> {{ getTheTime(noti.notificationTime) | amTimeAgo }} </time></span>
          </ion-col>
        </ion-row>
    </div>

  </div>

</ion-content>
