<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{myQuestion.topic | uppercase}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
    
    <ion-row> <!-- heading -->     
        <ion-col width-10><div class="gm-circle" *ngIf="myQuestion.author.appUserName" (click)="goToUserInfo(myQuestion.author.appUserId)">{{ extractFirstLetter(myQuestion.author.appUserName) | uppercase }}</div></ion-col><!--Use a round circle with First letter of username in front -->
        <ion-col width-90><span class="gm-dim" *ngIf="myQuestion.author.appUserName" (click)="goToUserInfo(myQuestion.author.appUserId)">{{ myQuestion.author.appUserName }} </span></ion-col> <!-- UserName on left side. Make it dim. -->         
    </ion-row>  
     <ion-row>
      <ion-col><p class="gm-main-content" style="font-weight: 700">Q: {{ myQuestion.mainQuestion }}</p></ion-col>
    </ion-row>    

   
  <div *ngIf="myQuestion.category">
      <ion-row>
        <ion-col>          
          <button class="gm-dim gm-button">
            <span class="answers">
              <span (click)="goToCategoryQuestions(myQuestion.category)">{{myQuestion.category}}</span>
            </span>
          </button>
        </ion-col>

        <ion-col>
        
        <ion-buttons end>
          
          <button class="gm-button">
            <ion-icon name="bookmark"></ion-icon>
          </button>
          <button class="gm-button" (click) = "incrementVotes(myQuestion)">            
            <ion-icon [ngClass]="{'gm-red-heart': myQuestion.liked }" name="heart"></ion-icon>
          </button>      
          <button class="gm-button" (click)="presentPopover($event, myQuestion.id)">
            <ion-icon name="more"></ion-icon>
          </button>
        </ion-buttons>  
      </ion-col> 
      </ion-row>
    </div>
  


    <div id="answerbox" *ngFor="let answer of myQuestion.answers">
      <ion-row>
        <ion-col width-10><div class="gm-circle" *ngIf="answer.author.appUserName" (click)="goToUserInfo(answer.author.appUserId)">{{ extractFirstLetter(answer.author.appUserName) | uppercase }}</div></ion-col><!--Use a round circle with First letter of username in front -->
        <ion-col width-90><span class="gm-dim" *ngIf="answer.author.appUserName" (click)="goToUserInfo(answer.author.appUserId)">{{ answer.author.appUserName }} </span></ion-col> <!-- UserName on left side. Make it dim. -->         
      </ion-row>
      <ion-row>
        <ion-col>
          <p class="gm-main-content"><span style="font-weight: 700; font-size:12px;" *ngIf="answer.toUser">{{ answer.toUser }} </span>{{ answer.mainAnswer }}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button class="gm-dim gm-button">
            <span class="answers">
              <span (click)="reply(answer.author.appUserName)">Reply</span>
            </span>
          </button>
        </ion-col>
        <ion-col>
          <ion-buttons end>
            <!--<div class="gm-dim" *ngIf="question.votes">{{question.votes}}</div>-->
            <button class="gm-button" (click)="incrementAnswerVotes(answer)">            
              <ion-icon [ngClass]="{'gm-red-heart': answer.liked }" name="bookmark"></ion-icon>
            </button>   
            <!--   
            <button class="gm-button">
              <ion-icon name="more"></ion-icon>
            </button>
            -->
            <button class="gm-button" (click)="flagAnswer(answer)" >
                <ion-icon name="flag"></ion-icon>
            </button>
          </ion-buttons>  
        </ion-col>
      </ion-row>
      
    </div>

</ion-content>


<ion-footer no-border>
  
    <ion-list>
      <ion-item>
        <ion-icon class="gm-dim" name="create" item-left></ion-icon>
          
          <ion-input type="text" [(ngModel)] = "_tmpAnswer" #input name="_tmpAnswer" placeholder="Write your answer.." maxlength="1000"></ion-input>  

          <button ion-button clear icon-only item-right (click)="logAnswer()">
            <ion-icon name="paper-plane"></ion-icon>
          </button>

      </ion-item>
    </ion-list>
  
</ion-footer>
