page-search {
    #questionbox{
        border-bottom: thin solid #ccc;
        margin: 0 0;
    }    
    .gm-main-content{
        margin: 0px 0px;
        font-family: Verdana, sans-serif;
        font-size: 15px;
        line-height: 22.5px;
        padding-left: 0;
        
}
}
