<ion-header>
  <ion-navbar hideBackButton  color=primary>
    <button ion-button menuToggle (click)="goToTop()">
      <ion-icon name="home"></ion-icon>
    </button>
    <ion-title>Quick Answer</ion-title>
    <ion-buttons end>
        <button ion-button (click)="goToNotificationPage()">
          <ion-icon name="notifications" class=larger></ion-icon>
        </button>
        <button ion-button (click)="goToUserInfo(myUserData.id)">
          <ion-icon name="contact" class=larger></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>

    <div class="gm-toolbar">
      <ion-row>
        <ion-col width-20>
          <button class="extra-small gm-btn-white" ion-button small clear icon-left (click)="askNewQuestion()">
            <ion-icon name="add-circle"></ion-icon>
              Ask
          </button>
        </ion-col>
        <ion-col width-30>
          <button class="extra-small gm-btn-white" ion-button small clear icon-left (click)="goToUnansweredQuestions()">
            <ion-icon name="create"></ion-icon>
              Answer
          </button>
        </ion-col>
        <ion-col width-25>
          <button class="extra-small gm-btn-white" ion-button small clear icon-left (click)="goToAllTopicsPage()">
            <ion-icon name="browsers"></ion-icon>
              Topics
          </button>
        </ion-col>
        <ion-col width-25>
          <button class="extra-small gm-btn-white" ion-button small clear icon-left (click)="goToSearchPage()">
            <ion-icon name="search"></ion-icon>
              Search
          </button>  
        </ion-col>
      </ion-row>
    </div>
 
</ion-header>

<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown"      
      refreshingSpinner="circles"></ion-refresher-content>
  </ion-refresher>

  <div class="gm-container"> 
    <div *ngFor="let topic of retTopics">
      <button class="extra-small" ion-button small outline round (click)="goToTopicQuestions(topic)">{{ topic }}</button>         
    </div>
    <div *ngIf="retTopics && retTopics.length > 0">
      <button class="extra-small" ion-button small round color="danger" (click)="goToAllTopicsPage()">See More</button>
    </div>
  </div>

<div *ngIf="retQuestions">
  <div *ngFor="let question of retQuestions" id="questionbox">
    <ion-row>
      <ion-col>
        <button class="gm-button topic-button" (click)="goToTopicQuestions(question.topic)">{{question.topic | uppercase}}</button>
        
      </ion-col> 
      
    </ion-row>
    <div *ngIf="question.category">
      <ion-row>
        <ion-col>
          <span class="category">Category: </span>
          <button class="gm-dim gm-button">
            <span class="answers">
              <span (click)="goToCategoryQuestions(question.category)">{{question.category}}</span>
            </span>
          </button>
        </ion-col>
      </ion-row>
    </div>
    <ion-row>

      <ion-col><p class="gm-main-content" (click) = "goToAnswersPage(question)">{{question.mainQuestion}}</p></ion-col> <!-- content goes here. overflow to next line -->
    </ion-row>
    <ion-row>
     
        <ion-col width-10><div class="gm-circle" *ngIf="question.author.appUserName" (click)="goToUserInfo(question.author.appUserId)">{{ extractFirstLetter(question.author.appUserName) | uppercase }}</div></ion-col><!--Use a round circle with First letter of username in front -->
        <ion-col width-90><span class="gm-dim" *ngIf="question.author.appUserName" (click)="goToUserInfo(question.author.appUserId)">{{ question.author.appUserName }} </span></ion-col> <!-- UserName on left side. Make it dim. -->         
      
    </ion-row>
    <ion-row>
      <ion-col>       
        <button class="gm-tab5px gm-dim gm-button" (click) = "goToAnswersPage(question)">
          <!--<span><ion-icon name="chatbubbles"></ion-icon></span> -->
          <span class="gm-tab5px" class="answers" *ngIf="question.answers">{{ question.answers.length }} Answers</span>
          <span class="gm-tab5px" class="answers" *ngIf="!question.answers">Be the first to answer</span>
        </button>
      </ion-col> <!-- on the left -->
      <ion-col style="margin-bottom:15px">
        
        <ion-buttons end>
          <!--<div class="gm-dim" *ngIf="question.votes">{{question.votes}}</div>-->
          <button class="gm-button" (click)="bookmarkQuestion(question)">
            <ion-icon [ngClass]="{'gm-red-heart': question.bookmarked }" name="bookmark"></ion-icon>
          </button>
          <button class="gm-button" (click) = "incrementVotes(question)">            
            <ion-icon [ngClass]="{'gm-red-heart': question.liked }" name="heart"></ion-icon>
          </button>      
          <button class="gm-button" (click)="presentPopover($event, question.id)">
            <ion-icon name="more"></ion-icon>
          </button>
        </ion-buttons>  
      </ion-col> <!-- icons on the right: Heart, Three dots for more options -->
    </ion-row>
  </div>
</div>
<!--
  <ion-fab right bottom>
        <button ion-fab mini color="primary" (click)="askNewQuestion()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
-->

  <ion-infinite-scroll (ionInfinite)="loadMore($event)" threshold="40%">
   <ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
 </ion-infinite-scroll>
  
</ion-content>
