<ion-header>
  <ion-navbar color=primary>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
    <ion-buttons end>
        <button ion-button (click)="goToUserInfo()">
          <ion-icon name="contact" class=larger></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div class="gm-container"> 
    <div *ngFor="let topic of retTopics">
      <button class="extra-small" ion-button small outline round (click)="goToTopicQuestions(topic)">{{ topic }}</button>         
    </div>
    <button class="extra-small" ion-button small round color="danger" (click)="goToAllTopicsPage()">See All</button>
  </div>

  <div *ngFor="let question of retQuestions" id="questionbox">
    <ion-row>
      <ion-col><button class="gm-button topic-button" (click)="goToTopicQuestions(question.topic)">{{question.topic | uppercase}}</button></ion-col> <!-- This is for Topic. Make it all caps Bold. Undeline as well. -->
    </ion-row>
    <ion-row>
      <ion-col><p class="gm-main-content">{{question.mainQuestion}}</p></ion-col> <!-- content goes here. overflow to next line -->
    </ion-row>
    <ion-row>
      <ion-col width-10><div class="gm-circle" *ngIf="question.author.appUserName">{{ extractFirstLetter(question.author.appUserName) | uppercase }}</div></ion-col><!--Use a round circle with First letter of username in front -->
      <ion-col width-90><span class="gm-dim" *ngIf="question.author.appUserName">{{ question.author.appUserName }} </span></ion-col> <!-- UserName on left side. Make it dim. -->         
    </ion-row>
    <ion-row>
      <ion-col>       
        <button class="gm-tab5px gm-dim gm-button" (click) = "goToAnswersPage(question)">
          <!--<span><ion-icon name="chatbubbles"></ion-icon></span> -->
          <span class="gm-tab5px" class="answers" *ngIf="question.answers">{{ question.answers.length }} Answers</span>
          <span class="gm-tab5px" class="answers" *ngIf="!question.answers">Be the first to answer</span>
        </button>
      </ion-col> <!-- on the left -->
      <ion-col style="margin-bottom:15px">
        
        <ion-buttons end>
          <!--<div class="gm-dim" *ngIf="question.votes">{{question.votes}}</div>-->
          <button class="gm-button" (click) = "incrementVotes(question)">            
            <ion-icon [ngClass]="{'gm-red-heart': question.liked }" name="heart"></ion-icon>
          </button>      
          <button class="gm-button" (click)="presentPopover($event)">
            <ion-icon name="more"></ion-icon>
          </button>
        </ion-buttons>  
      </ion-col> <!-- icons on the right: Heart, Three dots for more options -->
    </ion-row>
  </div>

  <ion-fab right bottom>
        <button ion-fab mini color="primary" (click)="askNewQuestion()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

 <!-- <ion-card *ngFor="let question of retQuestions">
      
      <ion-card-content>
        
        <p>
          <button ion-button small outline (click)="goToTopicQuestions(question.topic)">{{question.topic}}</button>  
        </p>        
        
        <p> {{question.mainQuestion}}
        </p> 

        
        <ion-list> 
            <ion-item>
              <ion-avatar item-left>
                <img src="http://alleduneeds.com/images/sample.png">
              </ion-avatar>
              <h2>Ranjan Ghimire</h2>
              <p>5 hours ago</p>
            </ion-item>
          </ion-list>
          
        <ion-row no-padding>
                       

            <ion-col *ngIf="question.answers">
              <button ion-button round small icon-left (click) = "toggleAnswers(question)">
                <ion-icon name='chatbubbles'></ion-icon>
                Answers
              </button>
            </ion-col>
            <ion-col text-right>
              <button ion-button clear color="danger" small icon-left (click) = "incrementVotes(question)">
                <ion-icon name='thumbs-up'></ion-icon>
                  <span *ngIf="question.votes">{{question.votes}}</span>
              </button>              
            </ion-col> 
          </ion-row>
          <ion-row>
            <ion-col>
              <button ion-button clear icon-left (click)="goToNewAnswersPage(question)">
                  <ion-icon name='create'></ion-icon>
                  Write an answer
              </button>
            </ion-col>
          </ion-row>

          <div *ngIf="question.showAnswersinUI">
           
            <ion-card no-padding> 
              <ion-card-header>
                
                  <button ion-button clear small icon-left>
                    <ion-icon name='contact'></ion-icon>                
                    Akanksha
                </button>
              </ion-card-header>
              <ion-card-content>
               
                <p>{{ question.answers[0].mainAnswer }}</p>
                <br />              
                <p text-right>
                  <button ion-button outline small (click) = "goToAnswersPage(question)">View All Answers</button></p>
              </ion-card-content>
            </ion-card>  


          </div>

          
          
      </ion-card-content>
    </ion-card>

     <ion-fab right bottom>
        <button ion-fab mini color="primary" (click)="askNewQuestion()"><ion-icon name="add"></ion-icon></button>
     </ion-fab>-->
  
</ion-content>
