page-page1{
    .larger {
        font-size:220%;
    }
    .gm-button{
        background-color: #fff;
        color: #888;
    }
    .gm-main-content{
        margin: 0px 0px;
        font-family: Verdana, sans-serif;
        font-size: 15px;
        line-height: 22.5px;
        padding-left: 5px;
        
    }
    .gm-circle{
        width:22px;
        height:22px;
        border-radius:11px;
        font-size:18px;
        color:#fff;
        line-height:22px;
        text-align:center;
        background:#39CCCC;
        margin-top:-2px;
        margin-left: 5px;
    }
    .gm-dim{
        color: #888;
    }
    .gm-tab5px{
        margin-left:5px;
    }
    .answers{
        font-size:12px;
        border-bottom:thin dotted #aaa;
    }
    #questionbox{
        border-top: thin solid #ccc;
        margin: 10px 0 -15px 0;
    }

    .topic-button{ 
        margin-top:10px;
        border-bottom:thin solid #888;
        padding-left:0px;
        padding-right:0px;        
    }
    .gm-red-heart{
        color:deepskyblue;
    }
    .gm-toolbar{
        background-color:deepskyblue;
        color:white;
    }
    .gm-btn-white{
        color: white;
        margin: 0 0 3px;
    }

}